@import url("//cdn.muicss.com/mui-0.10.0/css/mui.min.css");
@import url("//cdn.muicss.com/mui-0.10.0/extra/mui-colors.min.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.post {
  border: 1px blue solid;
  margin: 1em;
  background: blue;
  color: whitesmoke;
}

.addButton {
  background: grey;
}

.addButton:hover {
  background: rgb(156, 154, 154);
}
